  <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation blue-grey darken-4">
            <li class="user-details cyan darken-2">
              <div class="row">
                <div class="col col s4 m4 l4">
                  <img src="assets/images/avatar/avatar-7.png" alt="" class="circle responsive-img valign profile-image cyan">
                </div>
                <div class="col col s8 m8 l8">
                  <ul id="profile-dropdown-nav" class="dropdown-content">
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">face</i> Profile</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">settings</i> Settings</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">live_help</i> Help</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">lock_outline</i> Lock</a>
                    </li>
                    <li>
                      <a href="#" class="grey-text text-darken-1">
                        <i class="material-icons">keyboard_tab</i> Logout</a>
                    </li>
                  </ul>
                  <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                  <p class="user-roal">Administrator</p>
                </div>
              </div>
            </li>
            <li class="no-padding">
              <!-- sidemenu option -->
              <ul class="collapsible" data-collapsible="accordion">
                <li class="bold ">
                  <a href="index.html" class="waves-effect waves-cyan">
                      <i class="material-icons grey-text text-lighten-1">pie_chart_outlined</i>
                      <span class="nav-text grey-text text-lighten-1">Dashboard</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="cards-basic.html" class="waves-effect waves-cyan">
                      <i class="material-icons grey-text text-lighten-1">cast</i>
                      <span class="nav-text grey-text text-lighten-1">Cards</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="ui-basic-buttons.html" class="waves-effect waves-cyan">
                      <i class="material-icons grey-text text-lighten-1">insert_link</i>
                      <span class="nav-text grey-text text-lighten-1">Buttons</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="form-layouts.html" class="waves-effect waves-cyan">
                      <i class="material-icons grey-text text-lighten-1">format_color_text</i>
                      <span class="nav-text grey-text text-lighten-1">Forms</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="css-typography.html" class="waves-effect waves-cyan">
                      <i class="material-icons grey-text text-lighten-1">format_size</i>
                      <span class="nav-text grey-text text-lighten-1">Typography</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="css-color.html" class="waves-effect waves-cyan">
                      <i class="material-icons grey-text text-lighten-1">invert_colors</i>
                      <span class="nav-text grey-text text-lighten-1">Color</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="table-basic.html" class="waves-effect waves-cyan">
                      <i class="material-icons grey-text text-lighten-1">border_all</i>
                      <span class="nav-tex grey-text text-lighten-1">Table</span>
                    </a>
                </li>
                <li class="bold">
                  <a href="ui-icons.html" class="waves-effect waves-cyan">
                    <i class="material-icons grey-text text-lighten-1">lightbulb_outline</i>
                    <span class="nav-text grey-text text-lighten-1">Icons</span>
                  </a>
                </li>

                <li class="bold">
                  <a href="ui-icons.html" class="waves-effect waves-cyan">
                    <i class="material-icons grey-text text-lighten-1">keyboard_tab</i>
                    <span class="nav-text grey-text text-lighten-1">cerrar session</span>
                  </a>
                </li>
              </ul>
                <!-- sidemenu END-->
            </li>
          </ul>

          <!-- boton de menu -->
          <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
           <!-- boton de menu -->
        </aside>
        <!-- END LEFT SIDEBAR NAV-->


  </div>
